@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: hsl(223, 87%, 63%);

  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

#root {
  font-family: 'Libre Franklin', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  font-size: 125%;
  color: black;
}

.customContainerStyle{
  padding: 0 200px;
}

.mainHeading{
  font-weight: 700;
  font-size: 1.5rem;
}

.heading1{
  margin-bottom: 30px
}

.dotInHeading{
  color: var(--blue);
}

.text1{
  color:var(--gray);
}

.text2{
  font-weight: 300;
  font-size: 1rem;
}

.inputRow{
  margin-bottom: 2rem;
}

.inputBox{
  text-align: right;
  padding: 10px;
  height: 60px;
}

.inputBox input{
  border-radius: 20px;
  color: black;
}

.invalidEmailStyle{
  border: 1px solid red;
}

.form-text{
  text-align: left;
  color: var(--light-red) !important;
}

.notifyBtn{
  text-align: left;
  padding: 10px;
  height: 60px;
}

.notifyBtn button{
  border-radius: 20px;
  width: 80%;
}

.dashboardImgStyle{
  width: 85%;
  height: 50vh;
}

.socialMediaIcons > div{
  padding:10px;
  border-radius: 60%;
  margin-right: 30px;
}

.socialMediaIcons > div:hover{
  cursor: pointer;
}

.facebookIcon{
  color: var(--blue);
}

.twitterIcon{
  color: var(--blue);
}

.instagramIcon{
  color: var(--light-red);
}

.facebookIcon:hover{
  background-color: var(--blue);
  color: white;
}

.twitterIcon:hover{
  background-color: var(--blue);
  color: white;
}

.instagramIcon:hover{
  background-color: var(--light-red);
  color: white;
}

@media (max-width: 1080px) {
  .customContainerStyle{
    padding: 0 !important;
  }

  .dashboardImgStyle{
    height: 35vh !important;
  }

  .inputRow{
    margin-bottom: 2rem;
  }

  .inputBox .form-group{
    padding-left: 2.5rem;
  }

  .inputBox input{
    text-align: center;
    width: 90% !important;
  }

  .notifyBtn{
    text-align: center !important;
  }

  .socialMediaIconRow{
    margin-top: 3rem;
  }
}

